In [84]:
from os import listdir
from os.path import isfile, join
import os
import pandas as pd
import numpy as np
from collections import Counter

In [85]:
files = [f for f in listdir("data") if isfile(join("data", f))]
if "index.json" in files:
    files.remove("index.json")
"index.json" in files

False

In [86]:
dfs = []
for i in files:
    dfs.append(pd.read_csv(os.path.join("data", i)))

In [87]:
data = pd.concat(dfs).reset_index()

In [88]:
data.isna().mean()

index             0.000000
address           0.000000
gen_descrip       0.000000
Diện tích         0.000163
Mức giá           0.000000
Hướng nhà         0.679206
Hướng ban công    0.759079
Số phòng ngủ      0.294725
Số toilet         0.369311
Ngày đăng         0.000000
Ngày hết hạn      0.000000
Loại tin          0.000000
Mã tin            0.000000
id                0.000000
Pháp lý           0.220952
Nội thất          0.598926
Số tầng           0.538208
Mặt tiền          0.551954
Đường vào         0.623694
dtype: float64

Process address

In [89]:
Counter([eval(i)[2].split()[0] if len(eval(i)) > 2 else None for i in data["address"] ]).most_common()

[('Phường', 20077),
 ('Xã', 3432),
 ('Thị', 523),
 ('Dự', 389),
 ('Đường', 69),
 ('Phố', 13),
 (None, 9),
 ('The', 7),
 ('Thanh', 4),
 ('thôn', 4),
 ('King', 4),
 ('phường', 3),
 ('Hương', 2),
 ('Bắc', 2),
 ('Chùa', 2),
 ('Xuân', 2),
 ('N05', 2),
 ('HH2', 2),
 ('Long', 2),
 ('Thôn', 2),
 ('Nội', 1),
 ('Đông', 1),
 ('Tạ', 1),
 ('Ấp', 1),
 ('Băng', 1),
 ('Tân', 1),
 ('Newhouse', 1),
 ('Thái', 1),
 ('Vân', 1),
 ('KĐT', 1),
 ('Hope', 1),
 ('Imperial', 1),
 ('Sơn', 1),
 ('Gemek', 1),
 ('Vĩnh', 1),
 ('40', 1),
 ('mỹ', 1),
 ('Sunshine', 1),
 ('Minh', 1),
 ('Sudico', 1),
 ('Roman', 1),
 ('GoldSilk', 1),
 ('Vinhomes', 1),
 ('Green', 1),
 ('Bát', 1),
 ('Tổng', 1),
 ('Đồng', 1),
 ('Chung', 1),
 ('Trung', 1),
 ('Hữu', 1),
 ('N03', 1),
 ('Giang', 1),
 ('Nam', 1),
 ('Phú', 1),
 ('Mai', 1),
 ('Quảng', 1),
 ('Vụ', 1),
 ('Khai', 1),
 ('Tây', 1)]

In [90]:
def parse_address(address):
    try:
        City = address[0]
        District = address[1]
        Ward = address[2] if len(address) > 2  and any([i in address[2].lower() for i in ["xã", "phường", "thị trấn"]]) else "None"
        Street = address[3] if len(address) > 3 and any([i in address[3].lower() for i in ["đường", "phố"]]) else "None"
    except Exception as e:
        print(e)
        print(address)
        return {}
    return dict(City=City, District=District, Ward=Ward, Street=Street)

In [91]:
df_address = pd.DataFrame([parse_address(eval(data["address"][i])) for i in range(len(data["address"]))])

list index out of range
['KDT THANH HÀ- Cienco 5']
list index out of range
['54m C4 MT5 giá 6.2 tỷ.']
list index out of range
['65m 4T giá 15.8 tỷ.']

In [92]:
data = pd.concat([data, df_address], axis=1)

In [93]:
data.head()

,index,address,gen_descrip,Diện tích,Mức giá,Hướng nhà,Hướng ban công,Số phòng ngủ,Số toilet,Ngày đăng,...,id,Pháp lý,Nội thất,Số tầng,Mặt tiền,Đường vào,City,District,Ward,Street
0,0,"['Hà Nội', 'Tây Hồ', 'Phường Phú Thượng', 'Dự ...",\nTổng hợp danh sách chi tiết căn hộ bán chung...,100 m²,40 triệu/m²,Nam,Bắc,3 phòng,2 phòng,25/11/2022,...,batdongsan_com_vn_35339744,NaN,NaN,NaN,NaN,NaN,Hà Nội,Tây Hồ,Phường Phú Thượng,None
1,1,"['Hà Nội', 'Tây Hồ', 'Phường Phú Thượng', 'Đườ...",\nGia đình đang cần bán căn hộ tòa R2 Sunshine...,80.74 m²,43.3 triệu/m²,Nam,Bắc,2 phòng,2 phòng,28/11/2022,...,batdongsan_com_vn_35747475,Sổ đỏ/ Sổ hồng,NaN,NaN,NaN,NaN,Hà Nội,Tây Hồ,Phường Phú Thượng,Đường Võ Chí Công
2,2,"['Hà Nội', 'Cầu Giấy', 'Phường Yên Hòa', 'Đườn...",\n- Bán căn hộ chung cư cao cấp Star Tower Dươ...,131 m²,5.9 tỷ,NaN,NaN,3 phòng,3 phòng,29/11/2022,...,batdongsan_com_vn_35981012,Sổ đỏ/ Sổ hồng,Đầy đủ,NaN,NaN,NaN,Hà Nội,Cầu Giấy,Phường Yên Hòa,Đường Dương Đình Nghệ
3,3,"['Hà Nội', 'Long Biên', 'Phường Bồ Đề', 'Đường...","\nChủ nhà anh Việt Hùng bán nhà Bồ Đề, Long Bi...",52 m²,6.75 tỷ,NaN,NaN,5 phòng,NaN,28/11/2022,...,batdongsan_com_vn_35968324,Sổ đỏ/ Sổ hồng.,Cơ bản.,5 tầng,NaN,NaN,Hà Nội,Long Biên,Phường Bồ Đề,Đường Bồ Đề
4,4,"['Hà Nội', 'Nam Từ Liêm', 'Thị trấn Cầu Diễn',...",\nCần bán gấp căn hộ tại tòa A2 - Vinhomes Gar...,119 m²,5.8 tỷ,NaN,NaN,3 phòng,2 phòng,26/11/2022,...,batdongsan_com_vn_35957404,Sổ đỏ/ Sổ hồng,"Nội thất đầy đủ: Thiết bị điện tử(tivi, tủ lạn...",NaN,NaN,NaN,Hà Nội,Nam Từ Liêm,Thị trấn Cầu Diễn,Đường Hàm Nghi

Area and price

In [94]:
data["Area"] = data["Diện tích"].apply(lambda x: float(x.split()[0]) if not pd.isnull(x) else x)
data = data.drop("Diện tích", axis=1)
data["Area"].head()

0    100.00
1     80.74
2    131.00
3     52.00
4    119.00
Name: Area, dtype: float64

In [95]:
def parce_price(data):
    prices = []
    for idx, i in enumerate(data["Mức giá"]):
        try:
            
            if i.split()[1] not in ["tỷ", "triệu/m²", "triệu"] or i == "Thỏa thuận":
                prices.append(None)
            else:
                if "tỷ" in i:
                    prices.append(float(i.split()[0])*1e3)
                elif "triệu/m²" in i:
                    prices.append(float(i.split()[0])*data["Area"][idx])
                else:
                    prices.append(float(i.split()[0]))
        except Exception as e:
            print(e)
            print(i, type(i))
    return prices

In [96]:
data["Price"] = parce_price(data)
#data["Price"] = data["Price"].astype("float")

In [97]:
data.head()

,index,address,gen_descrip,Mức giá,Hướng nhà,Hướng ban công,Số phòng ngủ,Số toilet,Ngày đăng,Ngày hết hạn,...,Nội thất,Số tầng,Mặt tiền,Đường vào,City,District,Ward,Street,Area,Price
0,0,"['Hà Nội', 'Tây Hồ', 'Phường Phú Thượng', 'Dự ...",\nTổng hợp danh sách chi tiết căn hộ bán chung...,40 triệu/m²,Nam,Bắc,3 phòng,2 phòng,25/11/2022,05/12/2022,...,NaN,NaN,NaN,NaN,Hà Nội,Tây Hồ,Phường Phú Thượng,None,100.00,4000.000
1,1,"['Hà Nội', 'Tây Hồ', 'Phường Phú Thượng', 'Đườ...",\nGia đình đang cần bán căn hộ tòa R2 Sunshine...,43.3 triệu/m²,Nam,Bắc,2 phòng,2 phòng,28/11/2022,08/12/2022,...,NaN,NaN,NaN,NaN,Hà Nội,Tây Hồ,Phường Phú Thượng,Đường Võ Chí Công,80.74,3496.042
2,2,"['Hà Nội', 'Cầu Giấy', 'Phường Yên Hòa', 'Đườn...",\n- Bán căn hộ chung cư cao cấp Star Tower Dươ...,5.9 tỷ,NaN,NaN,3 phòng,3 phòng,29/11/2022,06/12/2022,...,Đầy đủ,NaN,NaN,NaN,Hà Nội,Cầu Giấy,Phường Yên Hòa,Đường Dương Đình Nghệ,131.00,5900.000
3,3,"['Hà Nội', 'Long Biên', 'Phường Bồ Đề', 'Đường...","\nChủ nhà anh Việt Hùng bán nhà Bồ Đề, Long Bi...",6.75 tỷ,NaN,NaN,5 phòng,NaN,28/11/2022,08/12/2022,...,Cơ bản.,5 tầng,NaN,NaN,Hà Nội,Long Biên,Phường Bồ Đề,Đường Bồ Đề,52.00,6750.000
4,4,"['Hà Nội', 'Nam Từ Liêm', 'Thị trấn Cầu Diễn',...",\nCần bán gấp căn hộ tại tòa A2 - Vinhomes Gar...,5.8 tỷ,NaN,NaN,3 phòng,2 phòng,26/11/2022,03/12/2022,...,"Nội thất đầy đủ: Thiết bị điện tử(tivi, tủ lạn...",NaN,NaN,NaN,Hà Nội,Nam Từ Liêm,Thị trấn Cầu Diễn,Đường Hàm Nghi,119.00,5800.000

Other features

In [98]:
features = {"Số phòng ngủ":"Bedrooms", "Số toilet":"Toilets", "Hướng nhà":"House Direction", "Hướng ban công":"Balcony Direction", "Pháp lý":"Legits", 
            "Nội thất":"Furnitures", "Số tầng":"Floors", "Mặt tiền":"Facade", "Đường vào":"Entrance",
           "Ngày đăng":"Date",
           "Ngày hết hạn":"Expired Date"}

In [99]:
data = data.rename(columns=features)

In [100]:
data["Bedrooms"] = [i.split()[0] if not pd.isna(i) else "None" for i in data["Bedrooms"]]
data["Bedrooms"].head()

0    3
1    2
2    3
3    5
4    3
Name: Bedrooms, dtype: object

In [101]:
data["Toilets"] = [i.split()[0] if not pd.isna(i) else "None" for i in data["Toilets"]]
data["Toilets"].head()

0       2
1       2
2       3
3    None
4       2
Name: Toilets, dtype: object

In [102]:
data["House Direction"] = [i if not pd.isna(i) else "None" for i in data["House Direction"]]
data["House Direction"].head()

0     Nam
1     Nam
2    None
3    None
4    None
Name: House Direction, dtype: object

In [103]:
data["Balcony Direction"] = [i if not pd.isna(i) else "None" for i in data["Balcony Direction"]]
data["Balcony Direction"].head()

0     Bắc
1     Bắc
2    None
3    None
4    None
Name: Balcony Direction, dtype: object

In [104]:
data["Facade"] = [i.split()[0] if not pd.isna(i) else "None" for i in data["Facade"]]
data["Facade"].head()

0    None
1    None
2    None
3    None
4    None
Name: Facade, dtype: object

In [105]:
data["Furnitures"] = [i if not pd.isna(i) else "" for i in data["Furnitures"]]
data["Furnitures"].head()

0
1
2                                               Đầy đủ
3                                              Cơ bản.
4    Nội thất đầy đủ: Thiết bị điện tử(tivi, tủ lạn...
Name: Furnitures, dtype: object

In [106]:
data["Legits"] = [i if not pd.isna(i) else "None" for i in data["Legits"]]
data["Legits"].head()

0               None
1     Sổ đỏ/ Sổ hồng
2     Sổ đỏ/ Sổ hồng
3    Sổ đỏ/ Sổ hồng.
4     Sổ đỏ/ Sổ hồng
Name: Legits, dtype: object

In [107]:
data["Floors"] = [i.split()[0] if not pd.isna(i) else "None" for i in data["Floors"]]
data["Floors"]

0        None
1        None
2        None
3           5
4        None
         ...
24584       6
24585    None
24586    None
24587    None
24588    None
Name: Floors, Length: 24589, dtype: object

In [108]:
data["Entrance"] = [i.split()[0] if not pd.isna(i) else "None" for i in data["Entrance"]]
data["Entrance"]

0        None
1        None
2        None
3        None
4        None
         ...
24584    None
24585    None
24586      60
24587    None
24588    None
Name: Entrance, Length: 24589, dtype: object

In [110]:
data = data[data["District"] != "Hà Nội. 73m²* 5.4 tỷ. Nhà đẹp siêu vip"]
data = data[data["District"] != "Hà Nội. 76m²* 5T 5.95 tỷ. Nhà đẹp siêu vip"]

In [111]:
data.columns

Index(['index', 'address', 'gen_descrip', 'Mức giá', 'House Direction',
       'Balcony Direction', 'Bedrooms', 'Toilets', 'Date', 'Expired Date',
       'Loại tin', 'Mã tin', 'id', 'Legits', 'Furnitures', 'Floors', 'Facade',
       'Entrance', 'City', 'District', 'Ward', 'Street', 'Area', 'Price'],
      dtype='object')

In [112]:
features = ['House Direction',
       'Balcony Direction', 'Bedrooms', 'Toilets', 
        'Legits', 'Furnitures', 'Floors', 'Facade',
       'Entrance', 'City', 'District', 'Ward', 'Street', 'Area', 'Price']

In [113]:
data[features]

,House Direction,Balcony Direction,Bedrooms,Toilets,Legits,Furnitures,Floors,Facade,Entrance,City,District,Ward,Street,Area,Price
0,Nam,Bắc,3,2,None,,None,None,None,Hà Nội,Tây Hồ,Phường Phú Thượng,None,100.00,4000.000
1,Nam,Bắc,2,2,Sổ đỏ/ Sổ hồng,,None,None,None,Hà Nội,Tây Hồ,Phường Phú Thượng,Đường Võ Chí Công,80.74,3496.042
2,None,None,3,3,Sổ đỏ/ Sổ hồng,Đầy đủ,None,None,None,Hà Nội,Cầu Giấy,Phường Yên Hòa,Đường Dương Đình Nghệ,131.00,5900.000
3,None,None,5,None,Sổ đỏ/ Sổ hồng.,Cơ bản.,5,None,None,Hà Nội,Long Biên,Phường Bồ Đề,Đường Bồ Đề,52.00,6750.000
4,None,None,3,2,Sổ đỏ/ Sổ hồng,"Nội thất đầy đủ: Thiết bị điện tử(tivi, tủ lạn...",None,None,None,Hà Nội,Nam Từ Liêm,Thị trấn Cầu Diễn,Đường Hàm Nghi,119.00,5800.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24584,None,None,5,None,Đã có sổ,Đầy đủ,6,None,None,Hà Nội,Long Biên,Phường Bồ Đề,Đường Bồ Đề,70.00,12900.000
24585,None,None,None,None,None,,None,None,None,Hà Nội,Hoài Đức,Xã Di Trạch,Đường Quốc lộ 32,100.00,NaN
24586,Tây - Bắc,None,None,None,Sổ đỏ/ Sổ hồng.,,None,14,60,Hà Nội,Hoài Đức,Xã Vân Canh,None,52.70,NaN
24587,None,None,None,None,Sổ đỏ/ Sổ hồng,,None,None,None,Hà Nội,Thạch Thất,Xã Bình Yên,None,1462.00,NaN
24588,Đông - Nam,Tây - Bắc,3,2,Sổ đỏ/ Sổ hồng,,None,None,None,Hà Nội,Hai Bà Trưng,Phường Vĩnh Tuy,Đường Minh Khai,98.10,4500.000

In [114]:
final_data = data[features]
final_data = final_data.dropna()

In [115]:
final_data.to_csv("final_data.csv", index=False)

In [ ]:
price = data["price"].dropna()

In [ ]:
price = price[price != 2.3e8]

In [ ]:
price.dropna().describe()

In [ ]:
price.value_counts()

In [ ]:
price.plot.box()

In [ ]:
(price[price < 1.2e4]/1e4).plot.box()

In [ ]:
(price[price < 1.2e4]/1e4).plot.hist(bins=200, figsize=(15,5), title="Historgram for quantile 75%")

In [ ]:
data.dropna()

In [ ]:
np.isnan(data["Số toilet"][3])