In [27]:
from os import listdir
from os.path import isfile, join
import os
import pandas as pd
import numpy as np
from collections import Counter

In [28]:
data = pd.read_csv(os.path.join("data", "combined_csv.csv"))
data.head()

,price,area,address,Mã tin,Hướng,Phòng ăn,Loại tin,Đường trước nhà,Nhà bếp,Loại BDS,Pháp lý,Sân thượng,Chiều ngang,Số lầu,Chổ để xe hơi,Chiều dài,Số phòng ngủ,Chính chủ
0,24 tỷ / m,160 m,Đường 70. Nan Từ Liêm. Hà Nội. Đường 70. Phườ...,11317900,_,NaN,Cần bán,20m,NaN,"Biệt thự, nhà liền kề",Sổ hồng/ Sổ đỏ,NaN,10m,3,NaN,---,4,---
1,29.5 tỷ,155 m,Tây Thăng Long. Bắc Từ Liêm. Hà Nội. Đường Vă...,11703782,_,NaN,Cần bán,20m,NaN,"Biệt thự, nhà liền kề",Sổ hồng/ Sổ đỏ,NaN,"8,5m",5,NaN,---,6,---
2,11.3 tỷ,79 m,Đường 70. Phường Phương Canh. Quận Nam Từ Liê...,11676472,_,NaN,Cần bán,20m,NaN,"Biệt thự, nhà liền kề",Sổ hồng/ Sổ đỏ,NaN,5m,5,NaN,---,4,---
3,77 triệu / m,64 m,Đường 70. Nam Từ Liêm. Hà Nội. Tỉnh Lộ 422B. ...,11680863,_,NaN,Cần bán,15m,NaN,"Đất thổ cư, đất ở",Sổ hồng/ Sổ đỏ,NaN,"4,2m",---,NaN,---,---,---
4,13.7 tỷ,95 m,Đường 70. Nam Từ Liêm. Hà Nội. Đường 70. Phườ...,11638070,_,NaN,Cần bán,15m,NaN,"Biệt thự, nhà liền kề",Sổ hồng/ Sổ đỏ,NaN,6m,5,NaN,---,6,---

In [88]:
data.head()

,price,area,address,Hướng,Phòng ăn,Đường trước nhà,Nhà bếp,Loại BDS,Pháp lý,Sân thượng,Số lầu,Chổ để xe hơi,Số phòng ngủ,Chính chủ,area (m2)
0,24 tỷ / m,160,Đường 70. Nan Từ Liêm. Hà Nội. Đường 70. Phườ...,_,NaN,20m,NaN,"Biệt thự, nhà liền kề",Sổ hồng/ Sổ đỏ,NaN,3,NaN,4,---,160
1,29.5 tỷ,155,Tây Thăng Long. Bắc Từ Liêm. Hà Nội. Đường Vă...,_,NaN,20m,NaN,"Biệt thự, nhà liền kề",Sổ hồng/ Sổ đỏ,NaN,5,NaN,6,---,155
2,11.3 tỷ,79,Đường 70. Phường Phương Canh. Quận Nam Từ Liê...,_,NaN,20m,NaN,"Biệt thự, nhà liền kề",Sổ hồng/ Sổ đỏ,NaN,5,NaN,4,---,79
3,77 triệu / m,64,Đường 70. Nam Từ Liêm. Hà Nội. Tỉnh Lộ 422B. ...,_,NaN,15m,NaN,"Đất thổ cư, đất ở",Sổ hồng/ Sổ đỏ,NaN,---,NaN,---,---,64
4,13.7 tỷ,95,Đường 70. Nam Từ Liêm. Hà Nội. Đường 70. Phườ...,_,NaN,15m,NaN,"Biệt thự, nhà liền kề",Sổ hồng/ Sổ đỏ,NaN,5,NaN,6,---,95

In [83]:
print(len(set(data['address'].values)))
print('----')
print(data['address'].value_counts())

4015
----
 Phố Thái Hà. Phường Trung Liệt. Quận Đống Đa. Hà Nội                                   228
 Đường Ngọc Thụy. Phường Ngọc Thụy. Quận Long Biên. Hà Nội                               184
 Phố Hoàng Cầu. Phường Ô Chợ Dừa. Quận Đống Đa. Hà Nội                                 169
 Đường Minh Khai. Phường Minh Khai. Quận Hai Bà Trưng. Hà Nội                            166
 Phố Đội cấn. Phường Đội Cấn. Quận Ba Đình. Hà Nội                                       153
                                                                                        ...
 Đường Phạm Văn Đồng Đường Phạm Văn Đồng. Phường Cổ Nhuế 1. Quận Bắc Từ Liêm. Hà Nội       1
 Đường TRUNG HÒA Đường Trung Hòa. Phường Yên Hòa. Quận Cầu Giấy. Hà Nội                    1
 Đường Nguyễn Xiển Đường Nguyễn Xiển. Phường Thanh Xuân Nam. Quận Thanh Xuân. Hà Nội       1
 Đường Hoàng Đạo Thành Đường Hoàng Đạo Thành. Phường Hạ Đình. Quận Thanh Xuân. Hà Nội      1
 Phố Lương Định Của. Phường Trung Tự. Quận Đống Đa. Hà Nội                                1
Name: address, Length: 4015, dtype: int64

In [98]:
# print(set(data['price'].values))
print(set(data['price'].apply(lambda x : x[len(x.split()[0])+2:])))

a = data['price']
count = 0
check = {}
check['tỷ /\xa0m'] = 0
check['triệu /\xa0m'] = 0
check['tỷ 1 ngàn'] = 0
check['thuận'] = 0
check['ngàn'] = 0
check['tỷ'] = 0
for i in range(len(a)):
    if a[i].find('tỷ /\xa0m') > 0:
        check['tỷ /\xa0m'] += 1
    elif a[i].find('triệu /\xa0m') > 0:
        check['triệu /\xa0m'] += 1
    elif a[i].find('tỷ 1 ngàn') > 0:
        check['tỷ 1 ngàn'] += 1
        print(a[i])
    elif a[i].find("thuận") > 0:
        check['thuận'] += 1
        print(a[i])
    elif a[i].find("ngàn") > 0:
        check["ngàn"] += 1
        print(a[i])
    else:
        check['tỷ'] += 1
    

print(check)

{'triệu /\xa0m', 'tỷ ', 'ngàn ', 'thuận', 'tỷ /\xa0m', 'triệu ', 'tỷ 1 ngàn '}
 50 ngàn
 Thỏa thuận
 Thỏa thuận
 7 tỷ 1 ngàn
 7 tỷ 1 ngàn
 400 ngàn
{'tỷ /\xa0m': 12, 'triệu /\xa0m': 304, 'tỷ 1 ngàn': 2, 'thuận': 2, 'ngàn': 2, 'tỷ': 20904}

In [85]:
data["area"] = data["area"].apply(lambda x: x.split()[0] if not pd.isnull(x) else x)
# data = data.drop("area", axis=1)
data["area"].head()

0    160
1    155
2     79
3     64
4     95
Name: area, dtype: object

In [86]:
print(set(data['area'].values))
print(data['area'].value_counts())
a = data['area']
count = 0
for i in range(len(a)):
    if a[i].find('m') < 0:
        count += 1
print(count)

{'94', '510', '111', '454', '206', '6.200', '513', '5.377', '432', '269', '187', '16.000', '318', '135', '323', 'KXĐ', '201', '26', '1.113', '419', '868', '900', '199', '204', '180', '306', '173', '245', '630', '586', '989', '10.000', '450', '270', '2.379', '890', '356', '373', '229', '88', '322', '525', '4.500', '255', '570', '445', '343', '1.600', '770', '79', '347', '606', '268', '129', '560', '417', '628', '416', '483', '1.950', '74', '54', '610', '209', '260', '280', '3.500', '154', '1.280', '195', '2.920', '2.865', '143', '136', '55', '53', '122', '856', '48', '51', '4.603', '134', '740', '238', '10', '242', '431', '152', '140', '548', '211', '2.060', '85', '230', '90', '38', '25', '222', '1.346', '330', '2.000', '497', '215', '6.001', '1.400', '470', '527', '7.000', '2.800', '293', '116', '217', '35', '185', '176', '720', '573', '1.500', '1.642', '175', '166', '98', '137', '3.200', '240', '880', '281', '1.050', '182', '2.756', '59', '75', '646', '273', '256', '375', '871', '23.215', '605', '455', '23', '1.263', '39', '82', '800', '1.238', '262', '283', '91', '106', '485', '168', '30', '127', '265', '246', '360', '751', '363', '500', '290', '202', '263', '368', '640', '243', '107', '160', '367', '490', '145', '210', '172', '1.026', '1.000', '333', '383', '10.359', '68', '212', '63', '20', '69', '26.200', '207', '163', '1.192', '226', '13.000', '84', '475', '78', '1.046', '219', '391', '291', '43', '5.000', '248', '42', '150', '133', '144', '875', '228', '4.260', '4.939', '34', '64', '1.462', '121', '27', '221', '218', '147', '390', '670', '7.274', '99', '220', '224', '261', '355', '600', '250', '881', '413', '776', '325', '275', '178', '205', '285', '4.000', '312', '297', '01', '47', '24', '60', '83', '1.440', '251', '1.815', '46', '264', '227', '181', '86', '161', '80', '216', '44', '16', '03', '2.500', '40', '850', '336', '171', '194', '1.143', '555', '294', '1.057', '123', '1.087', '288', '101', '189', '520', '156', '17', '289', '223', '331', '126', '310', '81', '414', '1.165', '307', '56', '460', '2.615', '3.270', '1.492', '5.400', '340', '750', '350', '125', '452', '656', '100', '198', '225', '62', '448', '31', '814', '495', '2.250', '93', '103', '326', '2.400', '231', '382', '1.850', '61', '366', '120', '258', '415', '12', '96', '590', '334', '244', '2.300', '412', '515', '315', '177', '480', '1.164', '3.551', '9.279', '72', '87', '04', '380', '418', '06', '169', '514', '130', '385', '465', '109', '105', '186', '348', '405', '254', '915', '580', '151', '3.700', '149', '505', '102', '14', '2.163', '1.881', '625', '616', '1.150', '50', '3.000', '320', '155', '286', '3.750', '232', '830', '40.000', '1.530', '165', '37', '1.300', '21', '2.393', '26.890', '95', '208', '282', '354', '486', '52', '314', '45', '148', '241', '1.100', '277', '358', '426', '184', '300', '118', '430', '370', '236', '302', '114', '22', '188', '29', '496', '89', '58', '1.724', '234', '139', '666', '76', '396', '550', '138', '346', '15.000', '1.533', '2.304', '26.104', '746', '295', '157', '11', '2.238', '174', '117', '568', '67', '369', '66', '378', '19', '721', '575', '104', '950', '765', '535', '1.540', '398', '665', '387', '08', '650', '1.250', '622', '235', '476', '170', '433', '192', '2.256', '02', '142', '65', '247', '183', '530', '164', '92', '13', '2.725', '77', '371', '113', '404', '335', '536', '203', '411', '700', '1.112', '394', '193', '407', '540', '345', '276', '70', '153', '1.951', '252', '2.229', '305', '400', '73', '266', '342', '395', '463', '10.500', '62.825', '509', '146', '191', '41', '108', '674', '3.280', '620', '440', '588', '57', '131', '1.851', '12.955', '554', '71', '158', '1.200', '3.100', '200', '36', '10.733', '585', '593', '5.200', '272', '259', '524', '2.200', '577', '1.072', '278', '429', '1.465', '119', '308', '159', '304', '561', '162', '110', '128', '132', '528', '680', '196', '28', '97', '213', '420', '190', '18', '920', '33', '1.751', '327', '679', '141', '2.650', '124', '115', '658', '15', '810', '112', '267', '179', '1.147', '660', '233', '820', '49', '28.000', '32', '488'}
50        1251
40        1024
45        1005
60         941
35         816
          ...
445          1
12.955       1
486          1
3.700        1
465          1
Name: area, Length: 564, dtype: int64
21226

In [87]:
data.drop("Mã tin", axis=1, inplace=True)

KeyError: "['Mã tin'] not found in axis"

In [ ]:
print(set(data['Hướng'].values))
data['Hướng'].value_counts()

{'Tây Nam', 'Đông', 'Bắc', 'Đông Nam', 'Đông Bắc', 'Tây', '_', 'Tây Bắc', 'Nam'}

_           19921
Đông Nam      421
Tây Nam       204
Đông Bắc      169
Tây Bắc       155
Đông          115
Nam           113
Bắc            73
Tây            55
Name: Hướng, dtype: int64

In [ ]:
print(set(data['Phòng ăn'].values))
data['Phòng ăn'].value_counts()

{nan, '---'}

---    10528
Name: Phòng ăn, dtype: int64

In [ ]:
data.drop("Loại tin", axis=1, inplace=True)

In [ ]:
print(set(data['Đường trước nhà'].values))
data['Đường trước nhà'].value_counts()

{'13,5m', '245m', '03m', '2-m', '4,8m', '4,7m', '7,5m', '24m', '5’mm', '4,m', '1,5m', '~3m', '38m', '50m', '---', '17m', '2,m', '5,5m', '60m', '6,1m', '8m', '34m', '2,5m', '4,4m', '8,5m', '7m', '27m', '5,0m', '6,2m', '2,8m', '1,3m', '14m', '103m', '30m', '4,0m', '6mm', '9m', '1,7m', '/39m', '49m', '5,3m', '23m', '16m', '5,7m', '8,3m', '15m', '66m', '2,3m', '2,4m', '13m', '10jm', '7,6m', ',5m', '42m', '4m', '3,2m', '7,8m', '6,7m', '75m', '80m', '4,5m', '13,m', '44m', '31m', '5,9m', '2,1m', '1,2m', '3m', '7,2m', '1,9m', '7mm', '6,5m', '5,1m', '0m', '45m', '10mm', '7,9m', '52m', 'Em', '40m', '2,9m', '1,6m', '6,8m', '5,2m', '2,2m', '3,3m', '5m', '11m', '6m', '11,m', '2,7m', '2m', '4,3m', '1pm', 'xm', '35mm', '9,3m', '1m', '4,1m', '8,2m', '1,1m', '19m', '22m', '26m', '3,8m', '3,4m', '1,8m', '21m', '7,3m', '6,6m', '10m', '6:5m', '39m', 'Im', '33m', '5,6m', '5mm', '64m', '8,8m', '2,6m', '7,4m', '8,6m', '30mm', '3,m', '`16m', '4,2m', '25m', '70m', '-m', '6,9m', '8mm', '55m', '20m', '36m', '6,3m', '18m', '3,1m', '3,9m', '7,1m', '54m', '02m', '48m', '35m', '12m', '5,8m', '3,5m', '9Mm', '3,7m', '6,4m', '135m', '2,0m', '00m', '4,6m', '3mm', '4mm', '28m', '3,6m', '400m', '300m', '100m', '32m'}

3m      3560
4m      2174
5m      2157
6m      1845
10m     1307
        ...
11,m       1
7,9m       1
31m        1
02m        1
4,m        1
Name: Đường trước nhà, Length: 161, dtype: int64

In [ ]:
print(set(data['Nhà bếp'].values))
data['Nhà bếp'].value_counts()

{nan, '---'}

---    10482
Name: Nhà bếp, dtype: int64

In [ ]:
print(set(data['Loại BDS'].values))
data['Loại BDS'].value_counts()

{'Nhà hàng, khách sạn', 'Kho, xưởng', 'Đất nông, lâm nghiệp', 'Phòng trọ, nhà trọ', 'Biệt thự, nhà liền kề', 'Căn hộ chung cư', 'Đất nền, liền kề, đất dự án', 'Nhà trong hẻm', 'Các loại khác', 'Mặt bằng', 'Đất thổ cư, đất ở', 'Văn phòng', 'Nhà mặt tiền', 'Trang trại', 'Shop, kiot, quán'}

Nhà trong hẻm                  11207
Nhà mặt tiền                    6250
Đất thổ cư, đất ở               1747
Biệt thự, nhà liền kề            996
Phòng trọ, nhà trọ               357
Căn hộ chung cư                  196
Nhà hàng, khách sạn              151
Văn phòng                        142
Đất nền, liền kề, đất dự án       90
Kho, xưởng                        24
Trang trại                        18
Shop, kiot, quán                  17
Mặt bằng                          11
Đất nông, lâm nghiệp              10
Các loại khác                     10
Name: Loại BDS, dtype: int64

In [ ]:
print(set(data['Pháp lý'].values))
data['Pháp lý'].value_counts()

{'Sổ hồng/ Sổ đỏ', 'Giấy tờ hợp lệ', '---', 'Giấy phép XD'}

Sổ hồng/ Sổ đỏ    16787
---                4299
Giấy tờ hợp lệ      134
Giấy phép XD          6
Name: Pháp lý, dtype: int64

In [ ]:
print(set(data['Sân thượng'].values))
data['Sân thượng'].value_counts()

{nan, '---'}

---    10743
Name: Sân thượng, dtype: int64

In [ ]:
print(set(data['Số lầu'].values))
data['Số lầu'].value_counts()

{'7', '77', '18', '3', '16', '20', '2', '33', '22', '19', '6', '40', '35', '23', '29', '5', '---', '78', '4', '58', '15', '9', '10', '1', '30', '37', '21', '24', '8', '12', '45', '17', '25', '11', '54', '27', '14', '13'}

5      6624
4      4702
6      2003
---    1725
3      1611
7      1295
1      1044
8       820
2       601
9       420
10      206
11       59
12       47
15       11
16       11
13        9
20        4
24        3
21        3
18        3
23        2
30        2
29        2
45        2
19        2
22        2
14        2
77        1
27        1
35        1
40        1
37        1
33        1
25        1
78        1
58        1
54        1
17        1
Name: Số lầu, dtype: int64

In [ ]:
print(set(data['Chổ để xe hơi'].values))
data['Chổ để xe hơi'].value_counts()

{nan, '---'}

---    12690
Name: Chổ để xe hơi, dtype: int64

In [ ]:
data.drop("Chiều dài", axis=1, inplace=True)

In [ ]:
data.drop("Chiều ngang", axis=1, inplace=True)

In [ ]:
print(set(data['Số phòng ngủ'].values))
data['Số phòng ngủ'].value_counts()

{'19', '100', '31', '23', '135', '39', '82', '---', '91', '26', '9', '30', '61', '120', '12', '243', '160', '65', '13', '88', '20', '2', '69', '72', '4', '70', '1', '105', '42', '150', '34', '64', '54', '27', '14', '324', '712', '57', '3', '6', '55', '200', '36', '50', '48', '51', '5', '238', '10', '37', '21', '308', '119', '47', '24', '60', '8', '52', '85', '45', '90', '83', '38', '25', '46', '86', '28', '7', '80', '18', '44', '16', '33', '22', '40', '35', '29', '58', '234', '15', '17', '49', '182', '32', '11'}

4      5979
3      3992
6      2324
5      2262
---    1780
       ...
86        1
51        1
712       1
308       1
120       1
Name: Số phòng ngủ, Length: 85, dtype: int64

In [ ]:
print(set(data['Chính chủ'].values))
data['Chính chủ'].value_counts()

{nan, '---'}

---    21222
Name: Chính chủ, dtype: int64