In [1]:
import pandas as pd
import numpy
from collections import defaultdict

In [2]:
bdscom = pd.read_csv("bds_com.csv")

In [3]:
home = pd.read_csv("data_fo_vs.csv")

In [4]:
bdsso = pd.read_csv("bds_so.csv")

In [5]:
alo = pd.read_csv("alo.csv")

In [6]:
bdscom.columns

Index(['House Direction', 'Balcony Direction', 'Bedrooms', 'Toilets', 'Legits',
       'Furnitures', 'Floors', 'Facade', 'Entrance', 'City', 'District',
       'Ward', 'Street', 'Area', 'Price'],
      dtype='object')

In [7]:
bdscom["District"] = bdscom["District"].apply(lambda x: x.lower().replace("quận", "").strip())
bdscom["District"] = bdscom["District"].apply(lambda x: x.lower().replace("huyện", "").strip())

bdscom["Ward"] = bdscom["Ward"].apply(lambda x: x.lower().replace("xã", "").strip())
bdscom["Ward"] = bdscom["Ward"].apply(lambda x: x.lower().replace("phường", "").strip())
bdscom["Ward"] = bdscom["Ward"].apply(lambda x: x.lower().replace("thị trấn", "").strip())

bdscom["Street"] = bdscom["Street"].apply(lambda x: x.lower().replace("đường", "").strip())

In [8]:
home.columns

Index(['Unnamed: 0', 'Price', 'Area', 'Mặt tiền', 'Số phòng ngủ',
       'Hướng ban công', 'Tình trạng pháp lý', 'Hướng nhà', 'Số tầng',
       'Bồn cầu', 'City', 'District', 'Name'],
      dtype='object')

In [9]:
home = home[['Area', 'Mặt tiền', 'Số phòng ngủ',
       'Hướng ban công', 'Tình trạng pháp lý', 'Hướng nhà', 'Số tầng',
       'Bồn cầu', 'City', 'District', 'Price']]

In [10]:
features = {'Mặt tiền': "Facade", 'Số phòng ngủ':"Bedrooms",
       'Hướng ban công': "Balcony Direction", 'Tình trạng pháp lý':"Legits", 'Hướng nhà':"House Direction"
            , 'Số tầng': "Floors",
       'Bồn cầu':"Toilets"}
home = home.rename(columns=features)

In [11]:
home = home.fillna("None")

In [12]:
home["District"] = home["District"].apply(lambda x: x.lower().replace("quận", "").strip())
home["District"] = home["District"].apply(lambda x: x.lower().replace("huyện", "").strip())

In [13]:
alo.columns

Index(['Unnamed: 0', 'price', 'area', 'Hướng', 'Phòng ăn', 'Đường trước nhà',
       'Nhà bếp', 'Loại BDS', 'Pháp lý', 'Sân thượng', 'Số lầu',
       'Chổ để xe hơi', 'Số phòng ngủ', 'Chính chủ', 'city', 'district',
       'ward', 'street'],
      dtype='object')

In [14]:
alo = alo[['price', 'area', 'Hướng',
       'Đường trước nhà', 'Pháp lý',
        'Số lầu', 'Số phòng ngủ','district',
       'ward', 'street']]

In [15]:
alo = alo.rename(columns={'price':"Price", 'area':"Area", 'Hướng':"House Direction",
       'Đường trước nhà': "Facade", 'Pháp lý':"Legits",
        'Số lầu':"Floors", 'Số phòng ngủ':"Bedrooms", 'district':"District",
       'ward':"Ward", 'street':"Street"})

In [16]:
alo = alo[alo["Price"] != "None"]

In [17]:
alo["District"] = alo["District"].apply(lambda x: x.lower().replace("quận", "").strip())
alo["District"] = alo["District"].apply(lambda x: x.lower().replace("huyện", "").strip())

alo["Ward"] = alo["Ward"].apply(lambda x: x.lower().replace("xã", "").strip())
alo["Ward"] = alo["Ward"].apply(lambda x: x.lower().replace("phường", "").strip())
alo["Ward"] = alo["Ward"].apply(lambda x: x.lower().replace("thị trấn", "").strip())

alo["Street"] = alo["Street"].apply(lambda x: x.lower().replace("đường", "").strip())

In [18]:
bdsso.columns

Index(['Unnamed: 0', 'Price', 'Address', 'Area', 'Direction', 'Facade',
       'Building Line', 'Floors', 'Bedrooms', 'Toilets', 'Details',
       'Publish Time', 'Type', 'ID', 'District'],
      dtype='object')

In [19]:
bdsso.head(2)

,Unnamed: 0,Price,Address,Area,Direction,Facade,Building Line,Floors,Bedrooms,Toilets,Details,Publish Time,Type,ID,District
0,5,7990,"Thụy Khuê, Phường Thụy Khuê, Quận Tây Hồ, Hà Nội",50.0,None,4.0,6.0,5,4,5,"Cc cần bán nhà trung tâm của quận Ba Đình, vie...",25/11/2021,Tin thường,batdongsan_so_com_vn_1673831410.7385442,Tây Hồ
1,40,12500,"Kim Đồng, Hoàng Mai, Hà Nội",119.0,None,4.0,7.0,5,5,5,"Nhà Mặt ngõ: 1 nhà 5t, R4.5m, 60m2, vỉa hè 2m ...",17/09/2021,Tin thường,batdongsan_so_com_vn_1673831496.202973,Hoàng Mai

In [20]:
bdsso = bdsso[['Price', 'Area', 'Facade',  'Floors',
       'Bedrooms', 'Toilets', 'Direction',
       'District']]

In [21]:
bdsso = bdsso.rename({"Direction":"House Direction"}, axis=1)
bdsso.head()

   Price   Area  Facade Floors Bedrooms Toilets House Direction    District
0   7990   50.0     4.0      5        4       5            None      Tây Hồ
1  12500  119.0     4.0      5        5       5            None   Hoàng Mai
2  17100   79.0     4.0      5        6    None            None  Thanh Xuân
3   9900   46.0     4.0      7        5    None            None  Thanh Xuân
4   6800   45.0     4.0      5        4    None            None     Hà Đông

In [22]:
bdsso = bdsso.fillna("None")

In [23]:
bdsso["District"] = bdsso["District"].apply(lambda x: x.lower().replace("quận", "").strip())
bdsso["District"] = bdsso["District"].apply(lambda x: x.lower().replace("huyện", "").strip())

In [24]:
address = pd.read_excel("hanoiaddress.xlsx")

In [25]:
address["Quận Huyện"]=address["Quận Huyện"].apply(lambda x: x.replace("Quận ","").strip().lower())
address["Quận Huyện"]=address["Quận Huyện"].apply(lambda x: x.replace("huyện ","").strip().lower())
address["Quận Huyện"]

0      ba đình
1      ba đình
2      ba đình
3      ba đình
4      ba đình
        ...
574     mỹ đức
575     mỹ đức
576     mỹ đức
577     mỹ đức
578     mỹ đức
Name: Quận Huyện, Length: 579, dtype: object

In [26]:
address["Xã Phường"]=address["Xã Phường"].apply(lambda x: x.lower().replace("phường ","").strip().lower())
address["Xã Phường"]=address["Xã Phường"].apply(lambda x: x.lower().replace("xã ","").strip().lower())

address["Xã Phường"]

0        phúc xá
1      trúc bạch
2      vĩnh phúc
3        cống vị
4      liễu giai
         ...
574    hùng tiến
575      an tiến
576     hợp tiến
577    hợp thanh
578       an phú
Name: Xã Phường, Length: 579, dtype: object

In [27]:
districts = set(address["Quận Huyện"].tolist())
s = defaultdict(int)
for idx, i in enumerate(bdscom["District"]):
    if i.lower() not in districts and i.lower() not in s:
        print(i)
        if i == "None":
            continue
        s[i.lower()] += 1
        bdscom = bdscom[bdscom["District"] != i]
bdscom.head()

sơn tây
phường bách khoa
nam từ liêm
từ liêm

,House Direction,Balcony Direction,Bedrooms,Toilets,Legits,Furnitures,Floors,Facade,Entrance,City,District,Ward,Street,Area,Price
0,Nam,Bắc,3,2,None,NaN,None,None,None,Hà Nội,tây hồ,phú thượng,none,100.00,4000.000
1,Nam,Bắc,2,2,Sổ đỏ/ Sổ hồng,NaN,None,None,None,Hà Nội,tây hồ,phú thượng,võ chí công,80.74,3496.042
2,None,None,3,3,Sổ đỏ/ Sổ hồng,Đầy đủ,None,None,None,Hà Nội,cầu giấy,yên hòa,dương đình nghệ,131.00,5900.000
3,None,None,5,None,Sổ đỏ/ Sổ hồng.,Cơ bản.,5,None,None,Hà Nội,long biên,bồ đề,bồ đề,52.00,6750.000
4,None,None,3,2,Sổ đỏ/ Sổ hồng,"Nội thất đầy đủ: Thiết bị điện tử(tivi, tủ lạn...",None,None,None,Hà Nội,nam từ liêm,cầu diễn,hàm nghi,119.00,5800.000

In [28]:
bdsso

      Price   Area  Facade Floors Bedrooms Toilets House Direction    District
0      7990   50.0     4.0      5        4       5            None      tây hồ
1     12500  119.0     4.0      5        5       5            None   hoàng mai
2     17100   79.0     4.0      5        6    None            None  thanh xuân
3      9900   46.0     4.0      7        5    None            None  thanh xuân
4      6800   45.0     4.0      5        4    None            None     hà đông
...     ...    ...     ...    ...      ...     ...             ...         ...
3794   3500   52.0     4.0      3        2       3            None   long biên
3795  16500   92.0     5.0      5        6       5         Tây bắc  thanh xuân
3796  10900   55.0     5.0     11       15      16            None     hà đông
3797   5500   45.0     4.0      5        6    None            None     đống đa
3798  19600   67.0     6.0      4        4       4            None     đống đa

[3799 rows x 8 columns]

In [29]:
final = pd.concat([bdscom, home, bdsso, alo]).reset_index()
final.head()

,index,House Direction,Balcony Direction,Bedrooms,Toilets,Legits,Furnitures,Floors,Facade,Entrance,City,District,Ward,Street,Area,Price
0,0,Nam,Bắc,3,2,None,NaN,None,None,None,Hà Nội,tây hồ,phú thượng,none,100.0,4000.0
1,1,Nam,Bắc,2,2,Sổ đỏ/ Sổ hồng,NaN,None,None,None,Hà Nội,tây hồ,phú thượng,võ chí công,80.74,3496.042
2,2,None,None,3,3,Sổ đỏ/ Sổ hồng,Đầy đủ,None,None,None,Hà Nội,cầu giấy,yên hòa,dương đình nghệ,131.0,5900.0
3,3,None,None,5,None,Sổ đỏ/ Sổ hồng.,Cơ bản.,5,None,None,Hà Nội,long biên,bồ đề,bồ đề,52.0,6750.0
4,4,None,None,3,2,Sổ đỏ/ Sổ hồng,"Nội thất đầy đủ: Thiết bị điện tử(tivi, tủ lạn...",None,None,None,Hà Nội,nam từ liêm,cầu diễn,hàm nghi,119.0,5800.0

In [30]:
final = final.drop(['Furnitures'], axis=1)

In [31]:
final.drop(["index"], axis=1)

,House Direction,Balcony Direction,Bedrooms,Toilets,Legits,Floors,Facade,Entrance,City,District,Ward,Street,Area,Price
0,Nam,Bắc,3,2,None,None,None,None,Hà Nội,tây hồ,phú thượng,none,100.0,4000.0
1,Nam,Bắc,2,2,Sổ đỏ/ Sổ hồng,None,None,None,Hà Nội,tây hồ,phú thượng,võ chí công,80.74,3496.042
2,None,None,3,3,Sổ đỏ/ Sổ hồng,None,None,None,Hà Nội,cầu giấy,yên hòa,dương đình nghệ,131.0,5900.0
3,None,None,5,None,Sổ đỏ/ Sổ hồng.,5,None,None,Hà Nội,long biên,bồ đề,bồ đề,52.0,6750.0
4,None,None,3,2,Sổ đỏ/ Sổ hồng,None,None,None,Hà Nội,nam từ liêm,cầu diễn,hàm nghi,119.0,5800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48183,None,NaN,4,NaN,Sổ hồng/ Sổ đỏ,4,3.0,NaN,NaN,thanh xuân,thượng đình,nguyễn trãi,54.0,48000
48184,None,NaN,4,NaN,Sổ hồng/ Sổ đỏ,5,3.0,NaN,NaN,thanh xuân,khương trung,khương trung,75.0,65000
48185,None,NaN,4,NaN,Sổ hồng/ Sổ đỏ,4,3.0,NaN,NaN,đống đa,láng hạ,láng,40.0,43000
48186,None,NaN,4,NaN,None,5,3.0,NaN,NaN,đống đa,cát linh,phố hào nam,42.0,76000
48187,None,NaN,4,NaN,Sổ hồng/ Sổ đỏ,4,3.0,NaN,NaN,đống đa,cát linh,phố hào nam,50.0,68000

In [32]:
final.isnull().mean()

index                0.000000
House Direction      0.000000
Balcony Direction    0.519279
Bedrooms             0.000000
Toilets              0.440442
Legits               0.078837
Floors               0.000000
Facade               0.000000
Entrance             0.556487
City                 0.519279
District             0.000000
Ward                 0.116045
Street               0.116045
Area                 0.000000
Price                0.000000
dtype: float64

In [33]:
final = final.fillna("None")

In [34]:
final.isnull().mean()

index                0.0
House Direction      0.0
Balcony Direction    0.0
Bedrooms             0.0
Toilets              0.0
Legits               0.0
Floors               0.0
Facade               0.0
Entrance             0.0
City                 0.0
District             0.0
Ward                 0.0
Street               0.0
Area                 0.0
Price                0.0
dtype: float64

In [35]:
final["Facade"] = final["Facade"].apply(lambda x: None if x == "None" else( float(x.replace("m", "").replace(",", ".").strip()) if isinstance(x, str) else float(x)))
final.dropna(inplace=True)
final = final.reset_index()

In [36]:
final = final.drop(["level_0"], axis=1)
final.shape

(35054, 15)

In [37]:
final = final.drop(columns=["City"])

In [38]:
final = final[final["Price"] != "None"]

In [39]:
final = final[final["Price"] != "Thỏa thuận"]

In [40]:
def convert_price(x):
    try:
        f = lambda x: float(x if  not isinstance(x, str) else x.replace(",", "."))
        return f(x)
    except:
        print(x)
        return None

In [41]:
final["Price"] = final["Price"].apply(convert_price)
final.dropna(inplace=True)

34 ngàn VNĐ
68 ngàn VNĐ
9 ngàn VNĐ
14 ngàn VNĐ
6 ngàn VNĐ
6 ngàn VNĐ
10 ngàn VNĐ
14 ngàn VNĐ
1 ngàn VNĐ
136 ngàn VNĐ
21 ngàn VNĐ
123 ngàn VNĐ
68 ngàn VNĐ
5,85 tỷ /tháng
6 ngàn VNĐ
6 ngàn VNĐ
6 ngàn VNĐ
9 ngàn VNĐ
88 ngàn VNĐ
68 ngàn VNĐ
9 ngàn VNĐ
2 ngàn VNĐ
98 ngàn VNĐ
2,2 ngàn VNĐ
1,2 ngàn VNĐ
1,2 ngàn VNĐ
12 ngàn VNĐ
1,2 ngàn VNĐ
1,2 ngàn VNĐ/m2
1,2 ngàn VNĐ/m2
150 ngàn VNĐ/m2
105 ngàn VNĐ/m2
120 ngàn VNĐ/m2
1,2 ngàn VNĐ
23 ngàn VNĐ
1,2 ngàn VNĐ
1,529 ngàn VNĐ/m2
12 ngàn VNĐ
1,2 ngàn VNĐ
1,2 ngàn VNĐ/m2
12 ngàn VNĐ/m2

In [42]:
pd.to_numeric(final["Price"])

0        28000.0
1         6100.0
2         6200.0
3         3800.0
4         4000.0
          ...
35049    48000.0
35050    65000.0
35051    43000.0
35052    76000.0
35053    68000.0
Name: Price, Length: 34956, dtype: float64

In [43]:
final["Balcony Direction"] = final["Balcony Direction"].apply(lambda x: " ".join([i.strip() for i in x.lower().split("-")]) if x != "None" else x)
final["House Direction"] = final["House Direction"].apply(lambda x: " ".join([i.strip() for i in x.lower().split("-")]) if x != "None" else x)

In [44]:
set(final["House Direction"].tolist())

{'None',
 'bắc',
 'nam',
 'tây',
 'tây bắc',
 'tây nam',
 'đông',
 'đông bắc',
 'đông nam'}

In [45]:
final["Bedrooms"] = final["Bedrooms"].apply(lambda x: x if x == "None" else str(int(float(x))))
final["Toilets"] = final["Toilets"].apply(lambda x: x if x == "None" else str(int(float(x))))
final["Floors"] = final["Floors"].apply(lambda x: x if x == "None" else str(int(float(x))))

In [46]:
def convert_to_num(x):
    try:
        return float(x.replace(",", ".").strip() if isinstance(x, str) else x)
    except:
        print(x)
        return None
final["Entrance"] = final["Entrance"].apply(lambda x: None if x == "None" else( float(x.replace("m", "").replace(",", ".").strip()) if isinstance(x, str) else float(x)))
final["Area"] = final["Area"].apply(lambda x: convert_to_num(x))

--
None
None

In [47]:
def norm_legits(x):
    status = ""
    x = x.lower()
    if "đỏ" in x:
        status += "+đỏ"
    if "hồng" in x:
        status += "+hồng"
    if "trắng" in x:
        status += "+trắng"
    if "xanh" in x:
        status += "+xanh"
    if "đủ" in x:
        status = "đủ" 
    return status if len(status) > 0 else "None"

In [48]:
final["Legits"] = final["Legits"].apply(norm_legits)

In [49]:
set(final["Legits"].tolist())

{'+hồng', '+đỏ', '+đỏ+hồng', 'None', 'đủ'}

In [50]:
final.isnull().mean()

index                0.000000
House Direction      0.000000
Balcony Direction    0.000000
Bedrooms             0.000000
Toilets              0.000000
Legits               0.000000
Floors               0.000000
Facade               0.000000
Entrance             0.785702
District             0.000000
Ward                 0.000000
Street               0.000000
Area                 0.000086
Price                0.000000
dtype: float64

In [51]:
def ten_plus(x):
    if x == "None":
        return x
    x = int(x)
    if x >10:
        return "10+"
    else:
        return str(x)

In [52]:
final["Bedrooms"] = final["Bedrooms"].apply(ten_plus)
final["Toilets"] = final["Toilets"].apply(ten_plus)
final["Floors"] = final["Floors"].apply(ten_plus)

In [77]:
def clean_street(x):
    r = ""
    for i in x:
        try:
            t = int(i)
        except:
            if i == "/":
                continue
            r += i
    r = r.replace("phố", "").strip()
    r = r.replace("xxx", "").strip()
    r = r.replace("xx", "").strip()
    if r in ["dx", "đt", "nha", "b"]:
        r = ""
    if r == "":
        return "None"
    r = " ".join(r.split())
    
    return r

In [78]:
len(set(final["Street"].apply(clean_street).values))

1658

In [ ]:
final["Street"] = final["Street"].apply(clean_street)

In [93]:
from geopy.geocoders import Nominatim
import time
from tqdm import tqdm

def get_loc(x, lat=True):
    while True:
        try:
            x.replace("None", "")
            loc = Nominatim(user_agent="GetLoc")
            getLoc = loc.geocode(x)
            if getLoc is None:
                loc = Nominatim(user_agent="GetLoc")
                getLoc = loc.geocode("Hà Nội")
            return (  getLoc.latitude, getLoc.longitude)
        except:
            time.sleep(0.5)

In [94]:
address = final["Ward"] + " " + final["District"] + " hà nội"

In [95]:
final["X"] = [0 for i in address]
final["Y"] = [0 for i in address]

In [ ]:
coor = []
for idx, i in enumerate(tqdm(address)):
    #print(i)
    coor.append(get_loc(i))
    final.at["X", idx] = coor[-1][0]
    final.at["Y", idx] = coor[-1][1]
    #print(coor[-1])

In [ ]:
final.to_csv("final.csv", index=False)

In [393]:
(bdscom["District"] == "None").sum()

0

In [394]:
(alo["District"] == "None").sum()

0

In [395]:
set([i  for i in bdscom["District"].tolist()])

{'ba vì',
 'ba đình',
 'bắc từ liêm',
 'chương mỹ',
 'cầu giấy',
 'gia lâm',
 'hai bà trưng',
 'hoài đức',
 'hoàn kiếm',
 'hoàng mai',
 'hà đông',
 'long biên',
 'mê linh',
 'mỹ đức',
 'nam từ liêm',
 'phú xuyên',
 'phúc thọ',
 'quốc oai',
 'sóc sơn',
 'thanh oai',
 'thanh trì',
 'thanh xuân',
 'thường tín',
 'thạch thất',
 'thị xã sơn tây',
 'tây hồ',
 'đan phượng',
 'đông anh',
 'đống đa',
 'ứng hòa'}

In [396]:
len(set([i if "Quận" not in i and "Huyện" not in i else " ".join(map(lambda x: x.capitalize(), i.split()[1:])) for i in bdscom["District"].tolist()]))

30

In [148]:
a = set([" ".join(map(lambda x: x.capitalize(), i.split())) if "Quận" not in i and "Huyện" not in i else " ".join(map(lambda x: x.capitalize(), i.split()[1:])) for i in bdscom["District"].tolist()])

In [154]:
a.remove('Nam Từ Liêm')

In [160]:
a.remove('Nam Từ Liêm')

KeyError: 'Nam Từ Liêm'

In [161]:
'Nam Từ Liêm' in a

True

In [163]:
a.remove('Nam Từ Liêm')