In [13]:
import pandas as pd
import numpy

In [44]:
files = ["alo.csv", "bds_com.csv", "home.csv", "bds_so"]

In [45]:
data = pd.read_csv("bds_com.csv")
data.head()

,id,date,exp_date,house_direction,balcony_direction,bedroom,toilet,legit,furniture,floor,facade,entrance,city,district,ward,street,area,price
0,batdongsan_com_vn_35339744,25/11/2022,05/12/2022,Nam,Bắc,3,2,None,NaN,None,None,None,Hà Nội,Tây Hồ,Phường Phú Thượng,None,100.00,4000.000
1,batdongsan_com_vn_35747475,28/11/2022,08/12/2022,Nam,Bắc,2,2,Sổ đỏ/ Sổ hồng,NaN,None,None,None,Hà Nội,Tây Hồ,Phường Phú Thượng,Đường Võ Chí Công,80.74,3496.042
2,batdongsan_com_vn_35981012,29/11/2022,06/12/2022,None,None,3,3,Sổ đỏ/ Sổ hồng,Đầy đủ,None,None,None,Hà Nội,Cầu Giấy,Phường Yên Hòa,Đường Dương Đình Nghệ,131.00,5900.000
3,batdongsan_com_vn_35968324,28/11/2022,08/12/2022,None,None,5,None,Sổ đỏ/ Sổ hồng.,Cơ bản.,5,None,None,Hà Nội,Long Biên,Phường Bồ Đề,Đường Bồ Đề,52.00,6750.000
4,batdongsan_com_vn_35957404,26/11/2022,03/12/2022,None,None,3,2,Sổ đỏ/ Sổ hồng,"Nội thất đầy đủ: Thiết bị điện tử(tivi, tủ lạn...",None,None,None,Hà Nội,Nam Từ Liêm,Thị trấn Cầu Diễn,Đường Hàm Nghi,119.00,5800.000

In [46]:
data = data[data["district"] != "Hà Nội. 73m²* 5.4 tỷ. Nhà đẹp siêu vip"]

In [47]:
data = data[data["district"] != "Hà Nội. 76m²* 5T 5.95 tỷ. Nhà đẹp siêu vip"]

In [48]:
data.reset_index(inplace=True)

In [49]:
data = data.drop(["index"], axis=1)

In [50]:
data.head()

,id,date,exp_date,house_direction,balcony_direction,bedroom,toilet,legit,furniture,floor,facade,entrance,city,district,ward,street,area,price
0,batdongsan_com_vn_35339744,25/11/2022,05/12/2022,Nam,Bắc,3,2,None,NaN,None,None,None,Hà Nội,Tây Hồ,Phường Phú Thượng,None,100.00,4000.000
1,batdongsan_com_vn_35747475,28/11/2022,08/12/2022,Nam,Bắc,2,2,Sổ đỏ/ Sổ hồng,NaN,None,None,None,Hà Nội,Tây Hồ,Phường Phú Thượng,Đường Võ Chí Công,80.74,3496.042
2,batdongsan_com_vn_35981012,29/11/2022,06/12/2022,None,None,3,3,Sổ đỏ/ Sổ hồng,Đầy đủ,None,None,None,Hà Nội,Cầu Giấy,Phường Yên Hòa,Đường Dương Đình Nghệ,131.00,5900.000
3,batdongsan_com_vn_35968324,28/11/2022,08/12/2022,None,None,5,None,Sổ đỏ/ Sổ hồng.,Cơ bản.,5,None,None,Hà Nội,Long Biên,Phường Bồ Đề,Đường Bồ Đề,52.00,6750.000
4,batdongsan_com_vn_35957404,26/11/2022,03/12/2022,None,None,3,2,Sổ đỏ/ Sổ hồng,"Nội thất đầy đủ: Thiết bị điện tử(tivi, tủ lạn...",None,None,None,Hà Nội,Nam Từ Liêm,Thị trấn Cầu Diễn,Đường Hàm Nghi,119.00,5800.000

In [53]:
data["facade"].value_counts()

None      11577
4 m        1641
5 m        1299
6 m         728
4.5 m       565
          ...
5.03 m        1
7.06 m        1
3.91 m        1
4.61 m        1
11.7 m        1
Name: facade, Length: 349, dtype: int64

In [36]:
home = pd.read_csv("home.csv")

In [41]:
home["Mặt tiền"].value_counts()

4m      77
5m      51
6m      25
3,5m    20
4,5m    19
        ..
5,8m     1
19m      1
14m      1
691m     1
9,3m     1
Name: Mặt tiền, Length: 81, dtype: int64

In [42]:
so = pd.read_csv("combined_csv.csv")
so.head()

,Unnamed: 0,Price,Area,Facade,Building Line,Floors,Bedrooms,Pulish Time,Type,ID,Toilets,Direction,District
0,0,63000,45.0,4.0,10.0,4,5,08/11/2022,Tin thường,batdongsan_so_com_vn_1670468631.269085,None,NaN,Nam Từ Liêm
1,1,198000,100.0,5.0,30.0,4,5,08/11/2022,Tin thường,batdongsan_so_com_vn_1670468633.5936205,4,NaN,Gia Lâm
2,2,98000,27.0,5.0,20.0,3,3,08/11/2022,Tin thường,batdongsan_so_com_vn_1670468636.2328222,2,Tây nam,Tây Hồ
3,4,120000,95.0,5.0,4.0,5,4,08/11/2022,Tin thường,batdongsan_so_com_vn_1670468641.770186,3,NaN,Long Biên
4,5,42000,112.0,11.0,2.0,None,3,08/11/2022,Tin thường,batdongsan_so_com_vn_1670468644.3474865,2,Nam,Nam Từ Liêm